In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
input_folder = '../data/output/dolnoslaskie_250m_new/'

In [3]:
df_box = pd.read_csv(f'{input_folder}box.csv')
df_land =  pd.read_csv(f'{input_folder}land_ratio.csv')
df_dso =  pd.read_csv(f'{input_folder}centroid_score_box2dso.csv')
df_plant = pd.read_csv(f'{input_folder}centroid_score_box2plant.csv')
df_railway = pd.read_csv(f'{input_folder}centroid_score_box2railway.csv')
df_road = pd.read_csv(f'{input_folder}centroid_score_box2road.csv')
df_dni = pd.read_csv(f'{input_folder}dni_zonal.csv')
df_dem = pd.read_csv(f'{input_folder}dem_zonal.csv')
df_pvout = pd.read_csv(f'{input_folder}pvout_zonal.csv')
df_temp = pd.read_csv(f'{input_folder}temp_zonal.csv')
df_dsomocy = pd.read_csv(f'{input_folder}centroid_score_box2dsomocy.csv')

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/1899348871.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_land =  pd.read_csv(f'{input_folder}land_ratio.csv')

In [4]:
dfs = [df_box, df_land, df_dso, df_plant, df_railway, df_road, df_dni, df_dem, df_pvout, df_temp, df_dsomocy]

In [5]:
for i in dfs:
    print(i.shape)

(321820, 11)
(361983, 19)
(321978, 18)
(321978, 18)
(321978, 18)
(321978, 18)
(321820, 14)
(321820, 14)
(321820, 14)
(321820, 14)
(321978, 18)

##### Analyze box

In [6]:
df_box

,osm_box_id,left,top,right,bottom,row_index,col_index,area,perimeter,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
3,676606,414729.589868,370875.174135,414979.589868,370625.174135,300,855,28943.687901,751.604086,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
4,676607,414729.589868,370625.174135,414979.589868,370375.174135,301,855,62500.000000,1000.000000,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
...,...,...,...,...,...,...,...,...,...,...,...
321815,15439,205729.589868,343625.174135,205979.589868,343375.174135,409,19,106.365327,60.072783,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[20...",dolnoslaskie
321816,15443,205729.589868,342625.174135,205979.589868,342375.174135,413,19,955.167391,214.583334,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[20...",dolnoslaskie
321817,15442,205729.589868,342875.174135,205979.589868,342625.174135,412,19,6877.439730,568.983873,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[20...",dolnoslaskie
321818,15441,205729.589868,343125.174135,205979.589868,342875.174135,411,19,19046.293583,639.151846,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[20...",dolnoslaskie
321819,15440,205729.589868,343375.174135,205979.589868,343125.174135,410,19,12982.361549,606.046214,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[20...",dolnoslaskie

##### Analyze the land ratio data

In [7]:
df_land.head()

,osm_land_id,left,top,right,bottom,row_index,col_index,area,perimeter,fid,osm_id,code,fclass,name,geometry,area_2,perimeter_2,ratio,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,46515,692434169,7229,farmland,NaN,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",6656.084138,410.853786,1.000000,dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,46515,692434169,7229,farmland,NaN,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",28107.499155,755.139192,1.000000,dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,46515,692434169,7229,farmland,NaN,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",56502.279292,946.460361,1.000000,dolnoslaskie
3,676607,414729.589868,370625.174135,414979.589868,370375.174135,301,855,62500.000000,1000.000000,46519,692598846,7229,farmland,NaN,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",3481.958085,319.794588,0.055711,dolnoslaskie
4,676608,414729.589868,370375.174135,414979.589868,370125.174135,302,855,62500.000000,1000.000000,46515,692434169,7229,farmland,NaN,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",19603.535691,595.761641,0.313657,dolnoslaskie

In [8]:
# for i in df_box['osm_box_id'].tolist():
#     if i not in df_land['osm_land_id'].tolist():
#         print (i)

In [10]:
# This gets the index of the highest count (the mode)
df_land1 = df_land.groupby('osm_land_id', as_index=False).agg({
    'area_2':'sum',
    'ratio': 'sum',
    'fclass': lambda x: x.value_counts().index[0]
})
df_land1.rename(columns={'osm_land_id':'osm_id','area_2':'total_land_area','ratio':'total_land_ratio','fclass':'major_land_type'}, inplace= True)

In [11]:
df_land1.head(3)

   osm_id  total_land_area  total_land_ratio major_land_type
0   15440       270.580182          0.020842          meadow
1   15441        25.222788          0.001324        farmland
2   16229     15122.522394          0.541792          meadow

##### Analysis Centroid

In [12]:
df_dso.head(3)

,osm_box2dso_id,left,top,right,bottom,row_index,col_index,area,perimeter,x,y,nearest_dso_id,nearest_dso_x,nearest_dso_y,distance_km,score,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,17.779883,51.184111,582,17.389951,51.197999,27.217642,0.034582,"{""type"": ""Point"", ""coordinates"": [17.779882540...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,17.780404,51.186076,582,17.389951,51.197999,27.241830,0.033724,"{""type"": ""Point"", ""coordinates"": [17.780403909...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,17.781108,51.188205,582,17.389951,51.197999,27.279698,0.032380,"{""type"": ""Point"", ""coordinates"": [17.781107505...",dolnoslaskie

In [13]:
df_dso1= df_dso[['osm_box2dso_id','score']]
df_dso1.rename(columns={'osm_box2dso_id':'osm_id', 'score':'dso_score'},inplace=True)
df_dso1.head()

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/1243237314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dso1.rename(columns={'osm_box2dso_id':'osm_id', 'score':'dso_score'},inplace=True)

   osm_id  dso_score
0  676612   0.034582
1  676611   0.033724
2  676610   0.032380
3  676606   0.033987
4  676607   0.033212

In [14]:
df_plant.head(3)

,osm_box2plant_id,left,top,right,bottom,row_index,col_index,area,perimeter,x,y,nearest_plant_id,nearest_plant_x,nearest_plant_y,distance_km,score,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,17.779883,51.184111,1353607833,17.48309,51.108516,22.344538,0.811841,"{""type"": ""Point"", ""coordinates"": [17.779882540...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,17.780404,51.186076,1353607833,17.48309,51.108516,22.460819,0.816066,"{""type"": ""Point"", ""coordinates"": [17.780403909...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,17.781108,51.188205,1353607833,17.48309,51.108516,22.597477,0.821032,"{""type"": ""Point"", ""coordinates"": [17.781107505...",dolnoslaskie

In [15]:
df_plant1 = df_plant[['osm_box2plant_id','score']]
df_plant1.rename(columns={'osm_box2plant_id':'osm_id', 'score':'res_score'}, inplace=True)
df_plant1.head(3)

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/59788190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_plant1.rename(columns={'osm_box2plant_id':'osm_id', 'score':'res_score'}, inplace=True)

   osm_id  res_score
0  676612   0.811841
1  676611   0.816066
2  676610   0.821032

In [16]:
df_tauron = gpd.read_file('../data/input/dolnoslaskie/dostepnamoc_tauron.geojson')
df_tauron1= df_tauron[['id','oddzial','typ','moc_MW']]
df_tauron1.head(3)

   id oddzial  typ  moc_MW
0   1  Tarnów  GPZ   100.0
1   2  Tarnów  GPZ    30.0
2   3  Tarnów  GPZ    30.0

In [17]:

df_dsomocy1 = df_dsomocy[['osm_box2dsomocy_id', 'score','nearest_dso_id']]
df_dsomocy1.rename(columns={'osm_box2dsomocy_id':'osm_id', 'score':'tauron_score', 'nearest_dso_id':'id'}, inplace=True)
df_dsomocy1.head(3)

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/2614297709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dsomocy1.rename(columns={'osm_box2dsomocy_id':'osm_id', 'score':'tauron_score', 'nearest_dso_id':'id'}, inplace=True)

   osm_id  tauron_score  id
0  676612      0.187140  15
1  676611      0.187644  15
2  676610      0.188028  15

In [18]:
df_dsomocy1=df_dsomocy1.merge(df_tauron1, on='id',how='left')
df_dsomocy1.drop(columns='id', inplace=True)
df_dsomocy1.head(3)

   osm_id  tauron_score  oddzial  typ  moc_MW
0  676612      0.187140  Wrocław  GPZ    40.0
1  676611      0.187644  Wrocław  GPZ    40.0
2  676610      0.188028  Wrocław  GPZ    40.0

In [19]:
df_railway.head(3)

,osm_box2railway_id,left,top,right,bottom,row_index,col_index,area,perimeter,x,y,nearest_railway_id,nearest_railway_x,nearest_railway_y,distance_km,score,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,17.779883,51.184111,295374533.0,17.546,51.128,17.463896,0.462323,"{""type"": ""Point"", ""coordinates"": [17.779882540...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,17.780404,51.186076,295374533.0,17.546,51.128,17.576636,0.458851,"{""type"": ""Point"", ""coordinates"": [17.780403909...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,17.781108,51.188205,295374533.0,17.546,51.128,17.710054,0.454742,"{""type"": ""Point"", ""coordinates"": [17.781107505...",dolnoslaskie

In [20]:
df_railway1= df_railway[['osm_box2railway_id','score']]
df_railway1.rename(columns={'osm_box2railway_id':'osm_id', 'score':'railway_score'},inplace=True)
df_railway1.head(3)

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/2262967680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_railway1.rename(columns={'osm_box2railway_id':'osm_id', 'score':'railway_score'},inplace=True)

   osm_id  railway_score
0  676612       0.462323
1  676611       0.458851
2  676610       0.454742

In [21]:
df_road.head(3)

,osm_box2road_id,left,top,right,bottom,row_index,col_index,area,perimeter,x,y,nearest_road_id,nearest_road_x,nearest_road_y,distance_km,score,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,17.779883,51.184111,237518374,17.786,51.189,0.869264,0.930855,"{""type"": ""Point"", ""coordinates"": [17.779882540...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,17.780404,51.186076,237518374,17.786,51.189,0.700858,0.944253,"{""type"": ""Point"", ""coordinates"": [17.780403909...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,17.781108,51.188205,237518374,17.782,51.193,0.541403,0.956939,"{""type"": ""Point"", ""coordinates"": [17.781107505...",dolnoslaskie

In [22]:
df_road1 =df_road[['osm_box2road_id','score']]
df_road1.rename(columns={'osm_box2road_id':'osm_id', 'score':'road_score'}, inplace = True)
df_road1.head(3)

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/1301139852.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_road1.rename(columns={'osm_box2road_id':'osm_id', 'score':'road_score'}, inplace = True)

   osm_id  road_score
0  676612    0.930855
1  676611    0.944253
2  676610    0.956939

##### Analysis Zonal

In [23]:
df_temp.head(3)

,osm_temp_id,left,top,right,bottom,row_index,col_index,area,perimeter,_count,_sum,_mean,geometry,region_name
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,0.012050,0.113267,9.4,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,0.052099,0.489728,9.4,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,0.104735,0.984507,9.4,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",dolnoslaskie

In [24]:
df_temp1= df_temp[['osm_temp_id','_mean']]
df_temp1.rename(columns={'osm_temp_id':'osm_id', '_mean':'temp_score'}, inplace=True)
df_temp1.head()

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/2463516930.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp1.rename(columns={'osm_temp_id':'osm_id', '_mean':'temp_score'}, inplace=True)

   osm_id  temp_score
0  676612         9.4
1  676611         9.4
2  676610         9.4
3  676606         9.4
4  676607         9.4

In [25]:
df_dem1= df_dem[['osm_dem_id','_mean']]
df_dem1.rename(columns={'osm_dem_id':'osm_id', '_mean':'dem_score'}, inplace=True)
df_dem1.head()

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/1557921477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dem1.rename(columns={'osm_dem_id':'osm_id', '_mean':'dem_score'}, inplace=True)

   osm_id   dem_score
0  676612  177.928571
1  676611  177.714286
2  676610  176.648936
3  676606  176.690476
4  676607  175.900000

In [26]:
df_dni1= df_dni[['osm_dni_id','_mean']]
df_dni1.rename(columns={'osm_dni_id':'osm_id', '_mean':'dni_score'}, inplace=True)
df_dni1.head()

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/3360017478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dni1.rename(columns={'osm_dni_id':'osm_id', '_mean':'dni_score'}, inplace=True)

   osm_id    dni_score
0  676612  1019.047974
1  676611  1020.970893
2  676610  1020.913394
3  676606  1020.507996
4  676607  1020.529377

In [27]:
df_pvout1= df_pvout[['osm_pvout_id','_mean']]
df_pvout1.rename(columns={'osm_pvout_id':'osm_id', '_mean':'pvout_score'}, inplace=True)
df_pvout1.head()

/var/folders/kt/6_c8zc9d1w18l8r74nq1kc380000gn/T/ipykernel_11501/1068868566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pvout1.rename(columns={'osm_pvout_id':'osm_id', '_mean':'pvout_score'}, inplace=True)

   osm_id  pvout_score
0  676612  1114.011963
1  676611  1114.011963
2  676610  1114.011963
3  676606  1115.473999
4  676607  1115.473999

##### Final score

In [28]:
df_box.rename(columns={'osm_box_id':'osm_id'}, inplace =True)

In [29]:
import pandas as pd
from functools import reduce

# 1. List your dataframes
dfs_to_merge = [
    df_box, df_land1, df_dso1, df_dsomocy1, df_road1, 
    df_railway1, df_plant1, df_dem1, df_dni1, df_temp1, df_pvout1
]

# 2. Clean the "right" dataframes (ensure 1 row per osm_id)
# We keep df_box as is, but drop duplicates from all others
cleaned_dfs = [dfs_to_merge[0]] + [
    df.drop_duplicates(subset='osm_id', keep='first') for df in dfs_to_merge[1:]
]

# 3. Perform the merge
final_df = reduce(
    lambda left, right: pd.merge(left, right, on='osm_id', how='left'), 
    cleaned_dfs
)

print(f"Final row count: {len(final_df)}")

Final row count: 321820

In [30]:
final_df.head(3)

,osm_id,left,top,right,bottom,row_index,col_index,area,perimeter,geometry,...,oddzial,typ,moc_MW,road_score,railway_score,res_score,dem_score,dni_score,temp_score,pvout_score
0,676612,414729.589868,369375.174135,414979.589868,369125.174135,306,855,6656.084138,410.853786,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",...,Wrocław,GPZ,40.0,0.930855,0.462323,0.811841,177.928571,1019.047974,9.4,1114.011963
1,676611,414729.589868,369625.174135,414979.589868,369375.174135,305,855,28107.499155,755.139192,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",...,Wrocław,GPZ,40.0,0.944253,0.458851,0.816066,177.714286,1020.970893,9.4,1114.011963
2,676610,414729.589868,369875.174135,414979.589868,369625.174135,304,855,56502.279292,946.460361,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[41...",...,Wrocław,GPZ,40.0,0.956939,0.454742,0.821032,176.648936,1020.913394,9.4,1114.011963

In [31]:
final_df.to_csv('../data/output/dolnoslaskie_250m_new/final_df_250m_new.csv')